{% extends 'base.html' %}

{% block title %}Home &#124; {{ block.super }}{% endblock title %}

{% block content %}
<div class="ui grid">
  <div class="eight wide column">
    <div class="ui small piled feed segment">
      <h5 class="ui header">Projects Achievements</h5>
      {% for ach in latest_proj %}
      <div class="event">
        <div class="content">
          <div class="summary">
            <a href="{{ ach.project.get_absolute_url }}">{{ ach.project.name }}</a> unlocks <span class="ach-name">{{ ach.achievement.name }}</span>!
            <i class="trophy icon"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui small piled feed segment">
      <h5 class="ui header">Authors Achievements</h5>
      {% for ach in latest_comitauthor %}
      <div class="event">
        <div class="label">
          <img src="{{ ach.author.avatar_url }}">
        </div>
        <div class="content">
          <div class="summary">
            <a>{{ ach.author.login }}</a> unlocks <span class="ach-name">{{ ach.achievement.name }}</span>!
            <i class="trophy icon"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
