{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ project.name }} &#124; {{ block.super }}{% endblock title %}

{% block content %}
<div class="ui grid">
  <div class="nine wide column">
    <h3 class="ui header">{{ project.name }}</h3>
    {{ project.commits_count }} commits, +{{ project.additions_count }} / -{{ project.deletions_count }} lines
    <p>{{ project.repo_url|urlize }}</p>
  </div>
  <div class="seven wide column">
    <div class="ui small piled feed segment">
      <h5 class="ui header">Project's achievements</h5>
      <i class="trophy icon"></i>
      <i class="trophy icon"></i>
      <i class="trophy icon"></i>
      <i class="gift icon"></i>
      <i class="gift icon"></i>
      <i class="gift icon"></i>
      <i class="rocket icon"></i>
      <i class="rocket icon"></i>
      <i class="rocket icon"></i>
    </div>
  </div>
</div>
<br>
<div class="ui grid">
  <div class="nine wide column">
    <div class="ui small piled feed segment">
      <h5 class="ui header">Latest Achievements Unlocked</h5>
      {% for commit in project.latest_commits %}
      <div class="event">
        <div class="label">
          <img src="{{ commit.author.avatar_url }}">
        </div>
        <div class="content">
          <div class="summary">
            <a>{{ commit.author.login }}</a> unlocks some awesome achievement!
            <i class="trophy icon"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="seven wide column">
    <div class="ui small feed segment">
      <h5 class="ui header">Latest Commits</h5>
      {% for commit in project.latest_commits %}
        <div class="event">
        <div class="content">
          <div class="summary">
            Mighty <a>{{ commit.author.login }}</a>
            adds {{ commit.additions }} and
            deletes {{ commit.deletions }} lines
            saying:<br>
            {{ commit.message }}!
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
