{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Project List" %} &#124; {{ block.super }}{% endblock title %}

{% block content %}
<div class="ui selection list projects-list">
  {% for project in project_list %}
    <a class="item" href="{{ project.get_absolute_url }}">
      <i class="github icon large"></i>
      <div class="right floated tiny commits-count">
        {{ project.commits_count }}<br>commits
      </div>
      <div class="content">
        <div class="header">{{ project.name }}</div>{{ project.repo_url }}
      </div>
    </a>
  {% endfor %}
</div>
{% if is_paginated %}
<div class="ui borderless pagination menu">
  {% if page_obj.has_previous %}
  <a class="item" href="?page={{ page_obj.previous_page_number }}">
    <i class="icon left arrow"></i> Previous
  </a>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if i < page_obj.number %}
      <a class="item">{{ i }}</a>
    {% endif %}
  {% endfor %}
  <a class="item active active-page">{{ page_obj.number }}</a>
  {% for i in paginator.page_range %}
    {% if i > page_obj.number %}
      <a class="item">{{ i }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <a class="item" href="?page={{ page_obj.next_page_number }}">
    Next <i class="icon right arrow"></i>
  </a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}
