body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffd464;
    padding-top: 48px;
    color: #555555!important;
}
a {
    color: #555555;
    text-decoration: none;
}
footer {
    background-color: #ffd464;
    padding: 20px;
}
a:hover {
    color: #f36966;
}
.main.menu {
    left: 0;
    top: 0;
}
.main.menu .item {
    height: 3em;
}
.item {
    line-height: 20px!important;
}
.item.logo h2 {
    margin: 0;
}
.monkey {
    background-color: #f36966!important;
    color: #ffffff!important;
}
.main.menu .menu-inner,
.content-wrapper,
.page-content {
    width: 60%;
    margin: 0 auto;
    min-width: 1024px;
}
.content-wrapper {
    width: 100%;
    background-color: #f4f4f2;
}
.page-content {
    padding: 15px;
    box-sizing: border-box;
}
#top-menu .menu {
    background-color: #f36966!important;
}
#top-menu .menu .item {
    color: #ffffff!important;
}
.button.monkey {
    opacity: .9!important;
}
.ui.positive.button {
    background-color: #f36966!important;
    color: #ffffff!important;
}
.ui.button {
    background-color: #ffd464!important;
    color: #ffffff!important;
}
.ui.positive.button:hover {
    background-color: #f36966!important;
}
.ui.button:hover {
    opacity: .8!important;
}
.projects-list a {
    text-decoration: none!important;
}
.custom.or {
    height: .75em!important;
}
.commits-count {
    text-align: center;
}
.new-achievements {
    text-align: center;
}
.pagination.menu {
    width: 100%;
    text-align: center;
    background: transparent;
    box-shadow: none;
}
.pagination.menu .item {
    color: #555555!important;

 }