{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Gitality | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/css/semantic.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    {% block extra_css %}
    {% endblock extra_css%}

    {# <script type="text/javascript" src="{% static js/ui/jquery.ui.core.js %}"></script> #}
    {% block extra_js %}
    {% endblock %}
  </head>

  <body>

    {% include 'menu.html' %}

    <div class="content-wrapper">
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>

  </body>
</html>
