{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Gitality{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/css/semantic.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    {% block extra_css %}
    {% endblock extra_css%}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'semantic/javascript/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
  </head>

  <body>

    {% include 'menu.html' %}

    <div class="content-wrapper">
      <div class="page-content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <footer>
      <div>
        <div class="ui">
          Github achievements service. Motivating opensource.
        </div>
        <div class="ui">
          2013 &#169; <a href="https://github.com/dmrz">dmrz</a>, <a href="https://github.com/postatum">postatum</a>
        </div>
      </div>
    </footer>

  </body>
</html>
