{% load i18n %}

<div class="ui fixed monkey main menu inverted">
  <div class="menu-inner">
    <a class="item logo" href="{% url "home" %}">
      <h2>Gitality</h2>
    </a>
    {% if user.is_authenticated %}
    <a class="item" href="{% url "projects:project_create" %}">
      <i class="add icon"></i> {% trans "Create" %}
    </a>
    {% endif %}
    <a class="item" href="{% url "projects:project_list" %}">
      <i class="list icon"></i> {% trans "Projects" %}
    </a>
    {% if user.is_authenticated %}
    <div class="ui dropdown link item right" id="top-menu">
      <img class="ui mini avatar image" src="http://semantic-ui.com/images/demo/photo2.jpg">
      {{ user.username }} <i class="dropdown icon"></i>
      <div class="menu ui transition hidden">
        <a class="item" href="#">{% trans "Profile" %}</a>
        <a class="item" href="{% url "logout" %}">{% trans "Logout" %}</a>
      </div>
    </div>
    {% else %}
    <a class="item right" href="{% url "socialauth_begin" "github" %}">
      <i class="github icon"></i> {% trans "Sign in" %}
    {% endif %}
    </a>
  </div>
</div>
